<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BRAINTREE.ENVIRONMENT" value="DEVELOPMENT"/>
    <add key="BRAINTREE.MERCHANT_ID" value="integration_merchant_id"/>
    <add key="BRAINTREE.PUBLIC_KEY" value="integration_public_key"/>
    <add key="BRAINTREE.PRIVATE_KEY" value="integration_private_key"/>
  </appSettings>
	<startup/>
</configuration>
