/Braintree/bin/*
/Braintree/obj/*
/Braintree.Tests/bin/*
/Braintree.Tests/obj/*
/TestResult.xml
/Help
/Output
/%temp%/
/Braintree.Tests/test-results/
/C:\\NUnitPrimaryTrace.txt
/Braintree.Tests/Braintree.Tests.pidb
/Braintree.userprefs
/Braintree.suo
/Braintree/Braintree.pidb
.DS_Store
/test-results
/Braintree/TestResult.xml
/Braintree.Tests/TestResult.xml
Thumbs.db
tags
/Braintree/Braintree.csproj.user
/UpgradeLog.htm
*.suo
/Braintree/Braintree.csproj.VisualState.xml
