!/test/lib/NUnit-3.4.1/bin/Release/
src/Braintree/bin/*
test/Braintree.Tests/bin/*
test/Braintree.Tests.Integration/bin/*
test/Braintree.TestUtil/bin/*
**/obj/*
**/TestResult.xml
**/Help
**/Output
/%temp%/
**/test-results/
/C:\\NUnitPrimaryTrace.txt
**/*.pidb
**/*.userprefs
**/*.suo
.DS_Store
Thumbs.db
tags
.vs/
**/*.lock.json
large_file.png
test/fixtures/empty_file.png
