/Braintree/bin/*
/Braintree/obj/*
/Braintree.Tests/bin/*
/Braintree.Tests/obj/*
/TestResult.xml
/Help
/Output
/%temp%/
/Braintree.Tests/test-results/
/C:\\NUnitPrimaryTrace.txt
/Braintree.Tests/Braintree.Tests.pidb
/Braintree.userprefs
/Braintree/Braintree.pidb
.DS_Store
/test-results
/Braintree/TestResult.xml
